@{
    ViewBag.Title = "Home Page";
}
<div id="principal" class="row">
    <div class="col-md-3">
        <aside class="panel panel-default">
            <div class="panel-heading">DESTACADAS</div>
            <div class="panel-body">
                <p>Recibe por aquí las noticias más destacadas </p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
            </ul>
        </aside>
        <aside class="panel panel-default">
            <div class="panel-heading">CATEGORÍAS</div>
            <div class="panel-body">
                <p>Clasificación por categorías</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
            </ul>
        </aside>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h1>Último artículo</h1>
            <p class="lead">Este es el último artículo publicado en el portal</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer más en &raquo;</a></p>
        </div>
        <div class="jumbotron">
            <h1>Último artículo</h1>
            <p class="lead">Este es el último artículo publicado en el portal</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer más en &raquo;</a></p>
        </div>
        <div class="jumbotron">
            <h1>Último artículo</h1>
            <p class="lead">Este es el último artículo publicado en el portal</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer más en &raquo;</a></p>
        </div>

        
        
    </div>
    <div class="col-md-3">
        <aside class="panel panel-default">
            <div class="panel-heading">NOVEDADES</div>
            <div class="panel-body">
                <p>Recibe por aquí las últimas novedades </p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
            </ul>
        </aside>
        <aside class="panel panel-default">
            <div class="panel-heading">ARCHIVO</div>
            <div class="panel-body">
                <p>Recibe por aquí la clasificación de archivo </p>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
                <li class="list-group-item"><a href="#">Free Domain Name Registration</a></li>
            </ul>
        </aside>
    </div>
</div>
